1. Wejdzmy na https://github.com/agnieszkagiemza/Analityka_opisowa i pobierzmy zbiór o nazwie "Z2 data.xlsx".
2. Tworzymy sobie folder na komputerze np o nazwie "Laboratoria" i wklejamy tam nasz plik.
3. Ustawiamy ten folder jako folder roboczy i zaczynamy.

# Na czym polega zadanie?
1. Naszym zadaniem była analiza danych konkretnych samochodów, który były dostępne na sprzedaż w okolicy.
2. Jednak okazało się, że dane które przekazała nam osoba za nie odpowiedzialna nie są takiej jakości, jakiej byśmy oczekiwali- najprawdopodobniej pochodziły z websrapingu.
3. Takie surowe dane należy najpiewr odpowiednio przetworzyć i zestandaryzować, aby móc przeprowadzić analizę.

### Wczytanie danych
   Pierwszym podstawowym pakietem przy pracy z pythonem jest pandas
   Aby można było z niego korzystać, oczywiście należy go najpiew zainstalować
   1. Bezpośrednio w komórce za pomocą komendy !pip install pandas
   2. Bądź w terminalu za pomocą komendy pip install pandas
   3. Jeżeli to mamy już za sobą to możemy wczytać bibliotekę pandas za pomocą komendy

In [83]:
import pandas as pd

Aby wczytać dane z pliku excel uzywamy komendy i wpisemy nazwę bliku, który chcemy wczytać

In [84]:
df=pd.read_excel('Z2 data.xlsx')

Wyświetlamy 5 pierwszych wierszy za pomocą komendy head(), wspisując w nawiasie liczbę możemy zwiekszyć/zmiejszyć liczbę wyświetlanych wierszy.
Ile maksymalnie wierszy Widok nam wyświetli?

In [85]:
df.head()

,Cena,Nazwa,Miejcowość,Przebieg,Pojemnosc,Moc,Oferta
0,119 000,Volkswagen Tiguan 2.0 TDI SCR 4MOTION (BlueMot...,Przemyśl,"55,5 tys.",1968,150,Firma
1,125 900,DS Automobiles DS 7 Crossback 1.6 E-Tense 4x4 ...,Strzyżów,136 tys.,1598,200,Firma
2,129 000,Mercedes-Benz Klasa E 220 d 4Matic T All-Terra...,Krosno,185 tys.,1950,194,Prywatna
3,130 000,Mercedes-Benz Klasa C 63 AMG T 7G-TRONIC Perfo...,Krosno,123 tys.,6208,487,Firma
4,14 900,Smart Fortwo coupe softouch black&white limite...,Krosno,108 tys.,999,61,Prywatna

Co widzimy?
Jakie problemy z danymi występują?

Komendą describe otrzymujemy podobny widok do head(), ale mamy także informację ile zbiór danych ma kolumn i wierszy.

In [86]:
df.describe

<bound method NDFrame.describe of        Cena                                              Nazwa Miejcowość  \
0   119 000  Volkswagen Tiguan 2.0 TDI SCR 4MOTION (BlueMot...   Przemyśl
1   125 900  DS Automobiles DS 7 Crossback 1.6 E-Tense 4x4 ...   Strzyżów
2   129 000  Mercedes-Benz Klasa E 220 d 4Matic T All-Terra...     Krosno
3   130 000  Mercedes-Benz Klasa C 63 AMG T 7G-TRONIC Perfo...     Krosno
4    14 900  Smart Fortwo coupe softouch black&white limite...     Krosno
..      ...                                                ...        ...
95  160 000  Volvo XC 90 T8 AWD Plug-In Hybrid Inscription ...   Strzyżów
96  107 900  BMW Seria 5 520d Efficient Dynamics Luxury Lin...   Strzyżów
97  107 900  BMW Seria 5 520d Efficient Dynamics Luxury Lin...    Rzeszów
98  108 000  Audi A5 2.0 TDI clean diesel Quattro S tronic ...    Rzeszów
99  108 000  Mercedes-Benz Klasa E 220 d 4-Matic 9G-TRONIC ...    Rzeszów

      Przebieg  Pojemnosc  Moc     Oferta
0    55,5 tys.       1968  150     Firma
1     136 tys.       1598  200     Firma
2     185 tys.       1950  194  Prywatna
3     123 tys.       6208  487     Firma
4     108 tys.        999   61  Prywatna
..         ...        ...  ...        ...
95  126,7 tys.       1969  320     Firma
96  173,5 tys.       1995  190  Prywatna
97  173,5 tys.       1995  190  Prywatna
98  130,5 tys.       1968  190  Prywatna
99    138 tys.       1950  195  Prywatna

[100 rows x 7 columns]>

In [ ]:
# Zanim zaczniemy usuwamy. duplikaty!
df = df.drop_duplicates()

In [ ]:
df.describe # czy coś się zmieniło?

Zanim zaczniemy "poprawiać dane" naturalnym krokiem jest sprawdzenie typów zmiennych.
Robimy to komendą dtypes. Czy wszystkie typy zmiennych są prawidłowe?

In [87]:
df.dtypes

Cena          object
Nazwa         object
Miejcowość    object
Przebieg      object
Pojemnosc      int64
Moc            int64
Oferta        object
dtype: object

Cena i przebieg powinny być numeryczne a nie są. Z czego to wynika?

Zobaczmy do zmniennej Cena.
Do kolumn w Pythonie można odwoływać sie na dwa? sposoby. 
Który lepszy?

In [88]:
df.Cena

0     119 000
1     125 900
2     129 000
3     130 000
4      14 900
       ...
95    160 000
96    107 900
97    107 900
98    108 000
99    108 000
Name: Cena, Length: 100, dtype: object

In [89]:
df['Cena']

0     119 000
1     125 900
2     129 000
3     130 000
4      14 900
       ...
95    160 000
96    107 900
97    107 900
98    108 000
99    108 000
Name: Cena, Length: 100, dtype: object

Przerwy w cenach można pozbyć się na dwa sposoby.
1. Uzyjąć wyrażeń regularnych i wyciągnąć liczby z wyrażenia z pomocą wyrazenia ANY- NON WHITESPACE CHARACTER. Strona [regex101](https://regex101.com/)
2. Usuwając spację i zamieniająć zmienną na typ numeryczny

In [90]:
#Wyrażenie regularne powinny działać bez dodatkowej instalacji
import re

# 1 sposób
df.cena1= df['Cena'].apply(lambda x: re.sub(r'\s+', '', x))

df.cena1

C:\Users\giemzaa\AppData\Local\Temp\ipykernel_1340\1949079314.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.cena1= df['Cena'].apply(lambda x: re.sub(r'\s+', '', x))

0     119000
1     125900
2     129000
3     130000
4      14900
       ...
95    160000
96    107900
97    107900
98    108000
99    108000
Name: Cena, Length: 100, dtype: object

In [91]:
df.cena1=df.cena1.astype(int)
df.cena1

0     119000
1     125900
2     129000
3     130000
4      14900
       ...
95    160000
96    107900
97    107900
98    108000
99    108000
Name: Cena, Length: 100, dtype: int32

In [92]:
# 2. Sposób usuwamy za pomocą funkcji replace
df['Cena'] = df['Cena'].apply(lambda x: x.replace(' ', ''))
df.Cena

0     119000
1     125900
2     129000
3     130000
4      14900
       ...
95    160000
96    107900
97    107900
98    108000
99    108000
Name: Cena, Length: 100, dtype: object

In [93]:
df.Cena=df.Cena.astype(int)

Zakładamy, że cena samochody jest już ok. Usuwamy niepotrzebną kolumnę cena1.

In [94]:
df = df.drop('cena1', axis=1)

KeyError: "['cena1'] not found in axis"

In [48]:
df.columns

Index(['Cena', 'Nazwa', 'Miejcowość', 'Przebieg', 'Pojemnosc', 'Moc',
       'Oferta'],
      dtype='object')

In [49]:
df.Cena

0     119000
1     125900
2     129000
3     130000
4      14900
       ...
95    160000
96    107900
97    107900
98    108000
99    108000
Name: Cena, Length: 100, dtype: int32

## Ćwiczenie
Poprawcie zmienną przebieg - 5 min

In [95]:
df.Przebieg

0      55,5 tys.
1       136 tys.
2       185 tys.
3       123 tys.
4       108 tys.
         ...
95    126,7 tys.
96    173,5 tys.
97    173,5 tys.
98    130,5 tys.
99      138 tys.
Name: Przebieg, Length: 100, dtype: object

In [96]:
# Krok 1: Usuń 'tys.' i spacje
df['Przebieg'] = df['Przebieg'].str.replace(' tys.', '').str.replace(' ', '')

In [97]:
# Krok 2: Zamień na typ numeryczny (float)
df['Przebieg'] = df['Przebieg'].astype(float)

ValueError: could not convert string to float: '55,5'

Błąd polega na tym, że mamy przecinek a Python oczekuje kropki.

In [98]:
# Krok 2a: Zamień przecinki na kropki
df['Przebieg'] = df['Przebieg'].str.replace(',', '.')

In [99]:
# Krok 2a: Zamień na typ numeryczny (float)
df['Przebieg'] = df['Przebieg'].astype(float)

In [100]:
# Krok 3 pomnożymy przez 100
df['Przebieg'] = df['Przebieg']*1000

In [101]:
df.Przebieg

0      55500.0
1     136000.0
2     185000.0
3     123000.0
4     108000.0
        ...
95    126700.0
96    173500.0
97    173500.0
98    130500.0
99    138000.0
Name: Przebieg, Length: 100, dtype: float64

In [102]:
df.dtypes

Cena            int32
Nazwa          object
Miejcowość     object
Przebieg      float64
Pojemnosc       int64
Moc             int64
Oferta         object
dtype: object

Wszystkie typy zmiennych są prawidłowe. Czego brakuje?
Przyrzyjmy się zmiennej nazwa, są zawarte w niej dodatkowe informacje.

In [104]:
df.Nazwa[0]

'Volkswagen Tiguan 2.0 TDI SCR 4MOTION (BlueMotion Techn.) DSG Sound Diesel 2021'

In [105]:
df.Nazwa[1]

'DS Automobiles DS 7 Crossback 1.6 E-Tense 4x4 Performance Line + Hybryda Plug-in 2021'

Mamy informację o marce i roku produkcji

Zaczniemy od roku, bo jest łatwiejszy.
Wyciągniemy 4 cyfrowe ciągu cyfr uzywająć funkcji string extract

In [107]:
df['rok_produkcji']=df['Nazwa'].str.extract(r'(\b\d{4}\b)')

Zobaczmy czy funkcja zrobiła to poprawnie

In [108]:
df.rok_produkcji.value_counts()

rok_produkcji
2009    12
2017    12
2015    10
2014     9
2019     7
2012     7
2020     5
2023     5
2010     5
2016     5
2011     4
2018     3
2013     3
2022     3
2024     2
2021     2
2008     2
2004     1
2006     1
2005     1
2007     1
Name: count, dtype: int64

Druga część zadania to wyciągnięcie rodzaju paliwa.
Sytuacja nie jest prosta. 

Najpierw dane trzeba pooglądać. Jakie typy paliwa są dostępne, wskazówka otomoto.

In [113]:
df.Nazwa[7]

'Mercedes-Benz Klasa A 180 CDI Autotronic Avantgarde Special Edition Diesel 2009'

Definiujemy  listę wyrażeń które chcemy wyciągań z nazw i przypisać je do rodzaju paliwa?

In [114]:
# Definicja listy wyrażeń
expressions = ['Benzyna','Benzyna+CNG','Benzyna+LPG', 'Diesel', 'Hybryda Plug-in', 'Hybryda','Wodór']

In [119]:
# Funkcja do wyciągania wyrażeń z tekstu
def extract_expressions(text):
    found = [expr for expr in expressions if expr in text]
    return ', '.join(found) if found else None

In [120]:
# Zastosowanie funkcji do kolumny 'nazwa'
df['Paliwo'] = df['Nazwa'].apply(extract_expressions)

In [122]:
df['Paliwo'].value_counts() # wszystko sparowane

Paliwo
Diesel                      71
Benzyna                     23
Hybryda Plug-in, Hybryda     3
Hybryda                      3
Name: count, dtype: int64

1. Czy wszystkie informacje zostały już uzyskane?
2. Najważniejsze i najtrudniejsze na koniec - marki i modele.
3. Czy można w sposób prosty/automatyczny wyciągnąć z nazwy marki i modele samochodów?

Wchodzimy znów na github i pobieramy plik txt o nazwie slownik i kopiujemy zawartosc i wklejamy do komorki ponizej

In [125]:
# Definiujemy słownik marek i modeli
car_dict = {
    'Audi': ['Q3', 'A5'],
    'BMW': ['Seria 5', 'Seria 3', 'Seria 1'],
    'Chevrolet': ['Captiva'],
    'DS': ['7'],
    'Fiat': ['Punto'],
    'Ford': ['Focus'],
    'Hyundai': ['ix35', 'i30'],
    'Land Rover': ['Range Rover'],
    'Mercedes-Benz': ['SL', 'Klasa V', 'Klasa S', 'Klasa E', 'Klasa C', 'Klasa A', 'GLC', 'CLS'],
    'Opel': ['Zafira', 'Insignia', 'Corsa', 'Astra'],
    'Renault': ['Megane'],
    'Seat': ['Alhambra'],
    'Smart': ['Fortwo'],
    'Subaru': ['Forester'],
    'Toyota': ['Proace', 'Corolla', 'Auris'],
    'Volkswagen': ['Tiguan', 'Phaeton', 'Passat', 'Golf'],
    'Volvo': ['XC 90']
}

# Tworzymy kolumny 'marka' i 'model'
df['marka'] = None
df['model'] = None

# Przechodzimy przez każdy wiersz w ramce danych
for index, row in df.iterrows():
    for marka, modele in car_dict.items():
        for model in modele:
            # Sprawdzamy, czy nazwa zawiera markę i model
            if marka in row['Nazwa'] and model in row['Nazwa']:
                df.at[index, 'marka'] = marka
                df.at[index, 'model'] = model
                break  # Przerywamy wewnętrzną pętlę, gdy znajdziemy markę i model

In [127]:
df.marka.value_counts()

marka
Mercedes-Benz    32
Volkswagen       23
Opel             23
BMW               4
Toyota            4
Audi              2
Hyundai           2
Land Rover        1
Chevrolet         1
Fiat              1
Renault           1
Seat              1
DS                1
Ford              1
Subaru            1
Smart             1
Volvo             1
Name: count, dtype: int64

In [128]:
df.model.value_counts()

model
Passat         12
Klasa V        10
Insignia        8
Klasa E         7
Corsa           6
Astra           6
Tiguan          5
Golf            5
Klasa C         5
CLS             3
Zafira          3
Auris           2
GLC             2
Klasa S         2
Klasa A         2
Seria 5         2
Punto           1
Corolla         1
Q3              1
Megane          1
Range Rover     1
XC 90           1
Proace          1
Captiva         1
Alhambra        1
i30             1
ix35            1
Seria 1         1
7               1
Seria 3         1
Focus           1
SL              1
Forester        1
Phaeton         1
Fortwo          1
A5              1
Name: count, dtype: int64

## Dla chętnych
Można dodać kolumnę  informacje dodatkowe i wyciągnać informację z kolumny Nazwa.